<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAD MUSIC</title>
  </head>
  <body>
    <div class="mm-button-content">
      <button>SIGN UP</button>
    </div>
    <div class="mm-content">
      <%= image_tag 'background-girl 1.png' %>
    </div>
  </body>
</html>

