<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAD MUSIC</title>
  </head>
  <body>
    <div class="mm-navtop mm-bk-black">
      <a href="#">MAD-MUSIC</a>
      <div class="dropdown">
        <button class="dropbtn mm-bk-black">
          <div class="mm-icon-bar mm-bk-white"></div>
          <div class="mm-icon-bar mm-bk-white"></div>
          <div class="mm-icon-bar mm-bk-white"></div>
        </button>
        <div class="dropdown-content">
          <a href="#">SIGNUP</a>
          <a href="#">SIGN IN</a>
        </div>
      </div>
    </div>
    <div class="mm-topBanner">
      <p>
      <%= link_to 'GUITARS', instruments_path %>
      <%= link_to 'INSTRUMENTS', instruments_path %>
      <%= link_to 'BRANDS', brands_path %>
      </p>
    </div>
    <div class="mm-button-content">
      <button>SIGN UP</button>
    </div>
    <div class="mm-content">
      <%= image_tag 'background-girl 1.png' %>
    </div>
  </body>
</html>