<nav class="navbar navbar-dark bg-dark">
  <%= link_to 'MAD-MUSIC', root_path, class: 'navbar-brand' %>
  <div class="dropdown show dropleft">
    <a class="dropdown" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="dropdown">
        <div class="mm-icon-bar mm-bk-white"></div>
        <div class="mm-icon-bar mm-bk-white"></div>
        <div class="mm-icon-bar mm-bk-white"></div>
      </div>
    </a>
    <div class="dropdown-menu mm-bk-black" aria-labelledby="dropdownMenuLink">
      <a class="mm-cl-white" href="#">SIGNUP</a>
      <a class="mm-cl-white" href="#">SIGN IN</a>
    </div>
  </div>
</nav>
